.App {
  text-align: center;
}

.values{
  background-color: black;
}

.cards{
  width: 100%;
  padding-top: 2rem ;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  border: 2px solid grey;
  color: white;
  width: 20rem;
}

.icon img{
  width: 100px;
  border-radius: 50%;
}
.disclaimer{
  margin-top: 2rem;
  color: white;
}