@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,500;1,100&display=swap');

* {
    font-family: 'Josefin Slab';
}

body {
    all: unset;
}

.App {
    text-align: center;
}

.header {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header header {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    margin: 0em 4em;
}

.header img {
    height: 100vh;
}

.header header a {
    padding: 1em;
}

.centred-div {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0em 24em;
}

/* --- VALUES --- */

.values {
    background-color: black;
    min-height: 100vh;
}

.cards {
    background-color: rgb(14, 14, 14);
    min-height: 50vh;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    color: white;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.icon>img {
    width: 100px;
    border-radius: 50%;
}

.content {
    text-align: center;
}

.disclaimer {
    margin-top: 2rem;
    padding-top: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disclaimer>p {
    width: 60%;
    text-align: center;
}

/* --- PORTFOLIO --- */

.portfolio {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.portfolio .centred-div {
    height: 35vh;
}

.portfolio .centred-div h2 {
    font-size: 2rem;
}

.portfolio .centred-div p {
    font-size: 1.3rem;
}

/* --- CONTACT --- */

.contact {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.contact form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em 4em;
}

.contact input[type=text] {
    background-color: lightpink;
    width: 30vw;
    font-size: 1.5rem;
    color: gray;
    margin: 2em 0 2em 0;
    padding-left: 1em;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
}

.contact input[type=submit] {
    background-color: lightpink;
    color: white;
    font-weight: 600;
    width: 10vw;
    align-self: center;
    padding: 0.5em;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 2px;
    margin: 4em 0 1em 0;
}

.contact textarea {
    background-color: lightpink;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 2px;
    padding: 3em;
    color: grey;
}

.contact form div {
    display: flex;
    flex-direction: column;
}

.contact footer {
    height: 25vh;
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
}

.contact footer div {
    margin: 0em 4em;
}

.contact footer h4 {
    font-size: 1.3rem;
}