@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,500;1,100&display=swap');


html {
    scroll-behavior: smooth;
}

.App {
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Josefin Slab';
}

body {
    all: unset;
    margin: 0;
    overflow-x: hidden;
}

html,
.App {
    max-width: 100%;
    /* Prevent content from exceeding the viewport width */
}


/* --------- GRID --------- */
    

    

    
        #submit {
            grid-area: submit;
            width: 100%;
        }
    
        #text {
            grid-area: text;
            width: 100%;
        }
        
                /* --------- END GRID --------- */

.header {
    background-color: rgba(0, 0, 0, 0.67);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header header {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    margin: 1em 4em;
}

.header header img {
    padding: 0em 1em;
    text-decoration: none;
    height: 5rem;
}

.header .nav_menu {
    color: white;
    font-size: 1.6rem;
    padding: 1em;
    text-decoration: none;
}

.centred-div {
    display: flex;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    margin: 0em 24em;
}

.header .centred-div h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0.2em;
}

.header .centred-div main {
    font-size: 1.3rem;
}

@media (max-width: 450px) {

    .header header {
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
        position: fixed;
        top: 0;
        right: 0;
    }

    .header .nav_menu {
        font-size: 1.6rem;
        padding: 0.3em;
        text-decoration: none;
    }

        .header {
            color: white;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
}


/* --- VALUES --- */

.values {
    background-color: black;
    padding: 0 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 31vh;
}

.values img {
    width: 100px;
}

.values h2 {
    font-size: 2rem;
    color: white;
}

@media (max-width: 450px) {

    .values {
        padding: 0 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 31vh;
    }

    .values img {
        width: 50px;
    }

    .values h2 {
        font-size: 1rem;
    }

    .values #lgbtq_icon {
        width: 25px;
    }

    .values #bipoc_icon {
        width: 70px;
    }
}

/* --- PORTFOLIO --- */

.portfolio {
    height: 65vh;
    background-color: black;
    padding: 1em;
}

/* --- CONTACT --- */

.contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /*ADDED*/
    min-height: 100vh;
}

.contact form {
    /* display: flex; */
    /* flex-direction: row; */
    /*ADDED*/
    /* min-height: 82vh; */
    justify-content: space-between;
    margin: 0em 4em;
}

.contact input[type=text] {
    background-color: black;
    width: 28vw;
    font-size: 1.5rem;
    color: gray;
    margin: 2em 0 2em 0;
    padding-left: 1em;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
}

.contact input[type=file] {
    color: gray;
}

.contact button {
    padding: 0.5em;
    border: 2px solid white;
    background: black;
    color: gray;
    cursor: pointer;
}

.wrapper_file_names {
    align-items: center;
}

.file_names {
    color: gray;
    padding: 0em 1em;
}

.file_names li {
    display: unset;
    display: flex;
    padding: 0.1em 0em;
}

.file_names ul {
    padding: 0em 1em;
    background-color: aqua;
    border: red;
}

.file_names button {
    margin-left: 10px;
    padding: 0.2em 0.4em;
    border: none;
    background-color: black;
    color: gray;
    cursor: pointer;
}

.contact input[type=submit] {
    background-color: black;
    color: white;
    font-weight: 600;
    align-self: center;
    padding: 0.5em;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact input[type=submit]:hover {
    background-color: white;
    color: black;
}

.contact input[type=submit]:active {
    background-color: black;
    transition: background-color 0s;
}

.contact textarea {
    background-color: black;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 2px;
    padding: 3em;
    color: grey;
}

.contact footer {
    /* height: 25vh; */
    display: flex;
    padding: 0 24px;
    flex-direction: row;
    border-top: 2px solid white;
    color: white;
    /*ADDED*/
    min-height: 15vh;
}

.contact footer div {
    /* margin: 0em 4em; */
}

.contact footer h4 {
    font-size: 1.3rem;
}

/* --- CAROUSEL --- */

.carousel {
    height: 100vh;
}

.carousel img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@media (orientation: landscape) {
    .carousel img {
        height: 100%;
    }
}

@media (orientation: portrait) {
    .carousel img {
        width: 100%;
    }
}

.full-screen-container {
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

/* --- OVERLAY --- */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 767px) {

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow-x: hidden;
        /* Prevent horizontal scrolling */
    }

        /* --------- GRID --------- */
    
        #name {
            grid-area: name;
            width: 100%;
        }
    
        #email {
            grid-area: email;
            width: 100%;
        }
    
                #file {
                    margin-bottom: 1em;
                }
    
        #submit {
            grid-area: submit;
            width: 100%;
        }
    
        #text {
            grid-area: text;
            width: 100%;
        }

        /* --------- END GRID --------- */


    /* Collapsible Menu - Fixed Position */
    .menu-icon {
        display: block;
        /* position: fixed; */
        /* Fixes the menu icon to the screen */
        top: 1em;
        right: 1em;
        font-size: 2rem;
        z-index: 10;
        cursor: pointer;
    }

    .menu {
        display: none;
        flex-direction: column;
        /* position: fixed; */
        /* Fixed to stay visible on scroll */
        top: 4em;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 5px;
        padding: 1em;
        z-index: 10;
        width: 90vw;
        /* Take 90% of screen width */
        left: 5vw;
        /* Center menu */
        box-sizing: border-box;
    }

    .menu.open {
        display: flex;
    }

    .menu-item {
        margin: 1em 0;
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-align: center;
    }

    .menu-item img {
        width: 20px;
        /* Adjusted icon size */
    }

    .carousel {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0;
        box-sizing: border-box;
    }

    .carousel img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .centred-div,
    .portfolio {
        /* height: 45vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 5vw;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
    }

 .centred-div {
    padding-top: 24vh;
 }

    .centred-div h1,
    .portfolio h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin: 0.5em 0;
        max-width: 100%;
    }

    .portfolio {
        overflow-y: auto;
        /* Enable scrolling */
        padding: 0;
    }

    .contact {
        @media (min-width: 450px) { 
            height: 100vh;
        }
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding: 0 5vw;
        box-sizing: border-box;
    }

    .contact form {
        /* display: block; */
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-bottom: 10vh;
    }

    .contact input[type=text],
    .contact input[type=email] {
        background-color: black;
        width: 100%;
        font-size: 1rem;
        color: gray;
        margin: 1em 0;
        padding: 0.5em;
        border: none;
        border-bottom: 2px solid white;
        box-sizing: border-box;
    }

    .contact textarea {
        margin: 1em 0;
        padding: 1.5em 1em;
        border: 2px solid white;
        background-color: black;
        color: black;
        width: 100%;
        height: 5em;
        box-sizing: border-box;
    }

    .contact input[type=submit] {
        background-color: black;
        color: white;
        font-weight: 600;
        width: 100%;
        padding: 0.5em;
        font-size: 1.2rem;
        border: 2px solid white;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 1em;
        box-sizing: border-box;
    }

    .contact footer {
        /* height: 20vh; */
        display: flex;
        /* justify-content: center; */
        /*ADDED 2*/
        align-items: start;
        width: 100vw;
        /* padding: 1em; */
    }
}


/*add media @ for these classes */
.hide-desktop {
    display: none;
    @media (max-width: 450px) { 
        display: block;
    }
}

.hide-mobile{
    display: none;

    @media (min-width: 450px) { 
        display: block;
    }
}

.form-container {
    display: flex;
    position: relative;
    /*ADDED*/
    /* padding-top: 100px; */
    /* padding-bottom: 90px; */

    @media (min-width: 450px) { 
        margin-left: 24px;
        padding-bottom: 155px;
        justify-content: space-between;
    }

    @media (max-width: 450px) { 
        display: block;
    }
}


.form-container .left {
    /* Desktop-only */
    @media (min-width: 450px) {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }
}

.form-container .right {
    width: 60%;
    display: block;

    @media (min-width: 450px) { 
        margin-left: 24px;
    }

    @media (max-width: 450px) { 
        width: 100%;
    }
}

.form-container .right #text {
    width: 100%;
}

.form-container textarea {
    width: auto !important;
    max-width: 100%;
    min-height: 38vh;
}

.w-full {
    width: 100%;
}

/*ADDED*/
footer div h4 {
    margin-top: 0.7 em;
}

.left > div {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}